* {
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    background-color:#7B7B7B29 ;
    height: 800px;
}
.parent{
    position: relative;
    display: flex;
}
 .anchor{

    /* position: absolute; */
    text-decoration: none;
    width: 100%; 
    height: 40px;
    background-color:#FFFFFF ;
    box-shadow: 2px 3px 30px #7B7B7B29 ;
    /* box-shadow: 0px 3px 30px #7B7B7B29; */
}
h2{
    padding-top: 2px;
    padding-left: 28px;
}
.banty{
    position: absolute;
    display: flex;
    margin-top: 17px;
}
.child{
    /* margin-top: 17px; */
    margin-left: 1040px;
    align: center;

}
.child2{
 margin-left: 10px;
}
.add{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.circle{
    color:#00A5EC;
    font-size: 28px;

    /* width: 50px; */
    /* height: 50px; */
}

 /* top: 142px; */
  /* left: 1076px; */
  /* width: 150px; */
  /* height: 26px; */
  /* text-align: left; */
  /* font: normal normal normal 22px/26px Inter; */
  /* letter-spacing: 0px; */
  /* color: #424242; */
.itemcard{
    position: absolute;
    /* display: inline; */
    margin-top: 120px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}


  .dauter{
    
     width: 290px;
    height: 250px;
    background-color:#FFFFFF ;
    box-shadow: 0px 3px 30px #7B7B7B29; 
    border-radius: 10px;
}
  h3{
    padding-top: 12px;
    padding-left: 19px;
    color: #00A5EC;
  }
  .check{
    margin-top: 18px;
    margin-left: 18px;
    width: 23px;
    height: 23px;
    color:#C2C2C2 ;
  }
  .line{
    font-size: 20px;
    text-decoration: line-through;
  }
  .item_card{
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color:#FFFFFF ;
   
  }
  .itemheading{
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
  }
  .hotar{
    padding-left: 155px;
    color: #858585;
  }
  .item_opa{
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 55%;
    filter: blur(10px);
  }
  .iteminput {
     width: 270px;
     margin-top: 15px;
     margin-left: 12px;
     height: 30px;
     background-color:#F7F7F7;
     border: 1px;
     text-align: left;
     padding-left: 7px;

  }
  button{
    width: 120px;
    height: 28px;
    position: absolute;
    background-color:#00A5EC;
    margin-top: 35px;
    margin-left: 163px;
    border: none;
    color: whitesmoke;
  }
  .circleadd{
    font-size: 32px;
    color: #00A5EC;
  
  }
  .circlearrow{
    font-size: 18px;
    color:#424242 ;
    
  }
  .banty2{
    margin-left: 342px;
    margin-top: 55px;
  }
  .charset{
    padding-right: 23px;
  }
  .sanatan{
    padding-left: 139px;
    text-decoration: none;
    color:#424242 ;
  }
  .box{
    width: 290px;
    height: 250px;
    margin-left: 370px;
    margin-top: 37px;
    background-color:#FFFFFF ;
    box-shadow: 0px 3px 30px #7B7B7B29; 
    border-radius: 10px;
  }
  h4{
    padding-top: 10px;
    text-align: center;
  }
  .opacity{
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 20%;
    /* filter: blur(10px); */
  }
  .itomcard{
    position: absolute;
    margin-top: -252px;
    margin-left: 367px;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color:#FFFFFF ;
  }
  .itemhead{
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
  }
  .input{
    width: 270px;
    margin-top: 15px;
    margin-left: 12px;
    height: 30px;
    background-color:#F7F7F7;
    border: 1px;
    text-align: left;
    padding-left: 7px;
  }
  .xmarkcolor{
    color:#858585 ;
  }
  
  
  

  